.app-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid var(--color-accent);

  & > .brand {
    margin-left: 2rem;
    user-select: none;
  }

  & > .nav-bar {
    list-style: none;
    display: flex;
    flex-direction: row;

    & > .nav-link {
      @include clickable;
      padding: 0 0.25rem;
      margin-right: 1rem;
      border-left: 2px solid transparent;

      &:hover {
        border-left: 2px solid var(--color-accent);
      }
    }
  }

  & .right {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1rem;
  }
}
