.#{$PRE}file-link {
  user-select: none;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.1rem;

  &-icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    overflow: hidden;
    margin-right: 0.2rem;
  }

  &-text {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--color-text);
  }

  &:hover {
    .#{$PRE}file-link-text {
      font-weight: 600;
    }
  }
}
