.app {
  &__container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-rows: 3rem auto;
    grid-template-areas: "header"
                          "content";

    & > .app-bar {
      grid-area: header;
    }

    & > .router-view {
      grid-area: content;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  }
}
