[data-tt] {
  position: relative;
}

[data-tt]:after,
[data-tt]:before {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  -webkit-transition:
    opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out,
    -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  transition:
    opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out,
    transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  transform:         translate3d(0, 0, 0);
  pointer-events: none;
  transition-delay: 0.2s;
}

[data-tt]:hover:after,
[data-tt]:hover:before {
  visibility: visible;
  opacity: 1;
}

[data-tt]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: "";
}

[data-tt]:after {
  z-index: 1000;
  padding: 8px;
  width: 160px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tt);
  font-size: 14px;
  line-height: 1.2;
}

/* ------ TOP ------ */
[data-tt] {
  &.tt-top:after,
  &.tt-top:before,
  &:after,
  &:before {
    bottom: 100%;
    left: 50%;
  }

  &:before,
  &.tt-top:before {
    margin-left: -6px;
    margin-bottom: -12px;
    border-top-color: #000;
    border-top-color: hsla(0, 0%, 20%, 0.9);
  }

  &:after,
  &.tt-top:after {
    margin-left: -80px;
  }

  &:hover,
  &.tt-top:hover {
    &:after,
    &:before {
      -webkit-transform: translateY(-12px);
      transform:         translateY(-12px);
    }
  }
}
/* ------ LEFT ------ */
[data-tt].tt-left {
  &:after,
  &:before {
    right: 100%;
    bottom: 50%;
    left: auto;
  }

  &:before {
    margin-left: 0;
    margin-right: -12px;
    margin-bottom: 0;
    border-top-color: transparent;
    border-left-color: #000;
    border-left-color: hsla(0, 0%, 20%, 0.9);
  }

  &:hover {
    &:before,
    &:after {
      -webkit-transform: translateX(-12px);
      transform:         translateX(-12px);
    }
  }
}
/* ------ BOTTOM ------ */
[data-tt].tt-bottom {
  &:after,
  &:before {
    top: 100%;
    bottom: auto;
    left: 50%;
  }

  &:before {
    margin-top: -12px;
    margin-bottom: 0;
    border-top-color: transparent;
    border-bottom-color: #000;
    border-bottom-color: hsla(0, 0%, 20%, 0.9);
  }

  &:hover {
    &:after,
    &:before {
      -webkit-transform: translateY(12px);
      transform:         translateY(12px);
    }
  }
}
/* ------ RIGHT ------ */
[data-tt].tt-right {
  &:after,
  &:before {
    bottom: 50%;
    left: 100%;
  }

  &:before {
    margin-bottom: 0;
    margin-left: -12px;
    border-top-color: transparent;
    border-right-color: #000;
    border-right-color: hsla(0, 0%, 20%, 0.9);
  }

  &:hover {
    &:after,
    &:before {
      -webkit-transform: translateX(12px);
      transform:         translateX(12px);
    }
  }
}

/* ------ LEFT BOTTOM ------ */
[data-tt].tt-left.tt-bottom {
  &:after,
  &:before {
    right: 100%;
    top: 100%;
    bottom: auto;
    left: auto;
  }

  &:before {
    visibility: hidden;
  }

  &:hover {
    &:before,
    &:after {
      -webkit-transform: translateX(-12px);
      transform:         translateX(-12px);
    }
  }
}

/* ------ RIGHT BOTTOM ------ */
[data-tt].tt-right.tt-bottom {
  &:after,
  &:before {
    bottom: 50%;
    left: 100%;
    bottom: auto;
  }

  &:before {
    visibility: hidden;
  }

  &:hover {
    &:after,
    &:before {
      -webkit-transform: translateX(12px);
      transform:         translateX(12px);
    }
  }
}

/* ----- Hack to fix position ----- */

.tt-left:before,
.tt-right:before {
  top: 3px;
}

.tt-left:after,
.tt-right:after {
  margin-left: 0;
  margin-bottom: -16px;
}
