::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  background: var(--color-background);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 50%;
  border: 0.25rem solid var(--color-background);
  margin: 0;
}
